#mainContainer{
	padding-left:20px; 
	padding-right:20px; 
	padding-top:50px;
}

.play{
	cursor:pointer;
}

.playing{
	background-color:pink;
}

.not-playing{
	background-color:white;
}

div.podcast-desc{
	text-align:justify;
}

div.podcast-audio-tag{
	text-align:center;
}

.input-url{
	width:90%;
}

img.spinner{
	width:40px;
	heigth:40px;
}

[ng\cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak{
  display: none;
}